<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center d-flex flex-column bg-ac2">
            <div class="modal-header text-white">
                <div class="row justify-content-center align-items-center w-100">
                    <div class="col-12">
                        <i class="modal-title fas fa-exclamation-triangle fa-2x ml-4" id="exampleModalLabel"></i>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="message"></h3>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn border text-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
