{{#if logged_in}}
    <nav class="d-flex jcsb aic p-2">
        <button class="btn btn-sm btn-secondary text-white" onclick="window.location.href='/'" type="button">Home</button>
        <h1 class="text-white" style=" --fw:900">Favorites Vault</h1>
        <div class="dropdown">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{currUser.name}}
            </button>
            <div class="dropdown-menu right-0 d-flex flex-column p-1" style="--g:1;" aria-labelledby="dropdownMenuButton">
                <button class="btn btn-sm mb-1 border" style="--bg-d:.1;" id="account-settings" onclick="window.location.href='/user_settings'" type="button">Account</button>
                <button class="btn btn-sm mb-1 border" style="--bg-d:.1;" id="logout" onclick="logout()">logout</button>
            </div>
        </div>
    </nav>
{{/if}}
