<nav class="d-flex jcsb p-2">
    <h4>nav bar</h4>
    {{#if logged_in}}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{currUser.name}}
            </button>
            <div class="dropdown-menu right-0" aria-labelledby="dropdownMenuButton">
                <button class="btn btn-sm" id="account-settings" onclick="window.location.href='/user_settings'" type="button">Account</button>
                <button class="btn btn-sm" id="logout">logout</button>
            </div>
        </div>
    {{/if}}


</nav>