<aside class="col-3 d-flex flex-column bg-d2 pt-2">
    <h4>Favorites</h4>
    <button class="btn btn-sm mb-1 border-secondary" style="--bg-d:.1;" onclick="handleBtn(this)" value="all">All</button>
    <button class="btn btn-sm mb-1 border-secondary" style="--bg-d:.1;" onclick="handleBtn(this)" value="movie">Movies</button>
    <button class="btn btn-sm mb-1 border-secondary" style="--bg-d:.1;" onclick="handleBtn(this)" value="book">Books</button>
</aside>