<aside class="col-3 border d-flex flex-column  ">
    <h4>Favorites</h4>
    <button onclick="handleBtn(this)" value="all">All</button>
    <button onclick="handleBtn(this)" value="movies">Movies</button>
    <button onclick="handleBtn(this)" value="books">Books</button>
    <button onclick="handleBtn(this)" value="others">others</button>
</aside>