<aside class="col-3 border d-flex flex-column  ">
    <h4 class="text-center mt-1">Favorites</h4>
    <button class="btn btn-sm mb-1 border" style="--bg-d:.1;" onclick="handleBtn(this)" value="all">All</button>
    <button class="btn btn-sm mb-1 border" style="--bg-d:.1;" onclick="handleBtn(this)" value="movie">Movies</button>
    <button class="btn btn-sm mb-1 border" style="--bg-d:.1;" onclick="handleBtn(this)" value="book">Books</button>
    <button class="btn btn-sm mb-1 border" style="--bg-d:.1;" onclick="handleBtn(this)" value="others">others</button>
</aside>