<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Favorite Vault</title>
    
</head>

<body>
    <header class="display-flex justify-space-between align-center p-2">
        <h1>
            Favorite Vault
        </h1>
    </header>
    <main class="container container-fluid mt-5">
        <!-- Render the contents of the sub layout here -->
        {{{ body }}}
    </main>

</body>
<footer class="text-right">
         <div class="social-icons  mr-3">
        <a href="https://github.com/who" target="_blank" class="icon"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/shold" target="_blank" class="icon"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://www.instagram.com/weKeep" target="_blank" class="icon"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.facebook.com/this" target="_blank" class="icon"><i class="fab fa-facebook fa-2x"></i></a>
    </div>
    </footer>
</html>