<h1>dash board</h1>
{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>

{{/each}}

<form class="form search-form" action="action_page.php">
  <input type="text" placeholder="Search for a book..." name="search" id="myInput">
  <button type="button" id="search-button"><i class="fa fa-search"  ></i></button>
</form>

 <div id="content"></div>
      <div class="col-lg-6" id="main-content">      
</div>    


