<section class="row" >
    {{> sidebar}}
    <main class="col border">
        <h4>homepage</h4>
        <p>Welcome to the homepage</p>
        
        <form class="form search-form" action="action_page.php">
            <input type="text" placeholder="Search for a book..." name="search" id="myInput">
            <button type="button" id="search-button"><i class="fa fa-search"  ></i></button>
        </form>

        <div id="content"></div>
            <div class="col-lg-6" id="main-content">      
        </div>

    </main>
</section>
<script src="/js/homepage.js"></script>