<div class="container text-center text-white">
    <div class="row">
        <div class="col-tac" style="--pb:15;">
            <hi class="h1">Favorites Vault</hi>
        </div>
    </div>
    <div class="row">
        <div class="col py-4 border border-secondary rounded bg-l1">
            <h2>Create Password</h2>
            <form class="form login-form rounded px-3 py-1" id="update-password-form">
                <div class="form-group d-flex flex-column rounded p-3 bg-d2">
                    <label for="email-login">Validation token:</label>
                    <input class="form-input" type="text" id="validation-input" required />
                </div>
                <div class="form-group d-flex flex-column rounded p-3 bg-d2">
                    <label for="email-login">Email:</label>
                    <input class="form-input" type="text" id="email" required />
                </div>
                <div class="form-group d-flex flex-column rounded p-3 bg-d2">
                    <label for="email-login">New password:</label>
                    <input class="form-input" type="text" id="new-password" required />
                </div>
                <div class="form-group d-flex flex-column rounded p-3 bg-d2">
                    <label for="email-login">Repeat New password:</label>
                    <input class="form-input" type="text" id="repeat-new-password" required />
                </div>
                <div class="form-group">
                     <button class="btn btn-primary"  onclick="window.location.href='/login'" type="button">Login</button>
                    <button class="btn btn-primary" onclick="window.location.href='/signup'" type="button">Create Account</button>
                    <button class="btn btn-primary"  onclick="updatePassword(event)" type="button">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
