<div class="row align-center mb-5">
    <div class="col-md-6">
        <div class="login-card round">
            <h2 class="page-title">Signup</h2>
            <form class="form signup-form" >
                <div class="form-group">
                    <label for="username-signup">Username:</label>
                    <input class="form-control" type="text" id="username-signup" autocomplete="username" />
                </div>
                <div class="form-group">
                    <label for="email-signup">Email:</label>
                    <input class="form-control" type="text" id="email-signup" autocomplete="email"/>
                </div>
                <div class="form-group">
                    <div class="password-inputs">
                        <div>
                            <label for="password-signup">Password:</label>
                            <input class="form-control" type="password" id="password-signup" />
                        </div>
                        <div>
                            <label for="confirm-password">Confirm password:</label>
                            <input class="form-control" type="password" id="confirm-password" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Signup</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="Log-in">Go back to login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="welcome"> 
            <h3>Join Favorite Vault</h3>
            <p>The site designed to keep track of the movies and shows you want to see.</p>
            <p>Create an account to join us</p>
            <ul>
            <li>Create your personal watchlist</li>
            <li>Get personalized recomendations</li>
            </ul>
        </div>
        <div class="icons">
            <i class="fas fa-film fa-2x"></i>
            <i class="fas fa-video fa-2x"></i>
            <i class="fas fa-ticket-alt fa-2x"></i>
            <i class="fas fa-theater-masks fa-2x"></i>
            <i class="fas fa-tv fa-2x"></i>
            <i class="fas fa-play-circle fa-2x"></i>
            <i class="fas fa-pause-circle fa-2x"></i>
        </div>
    </div>
</div>
<script src="./js/signin.js"></script>
