<div class="container">
    <div class="row">
        <div class="col py-4">
            <h2>Sign Up</h2>
            <form id="signup-form" class="form signup-form">
                <div class="form-group">
                    <label for="name-signup">First Name:</label>
                    <input class="form-input" type="text" id="name-signup" autocomplete="name-signup" required/>
                </div>
                <div class="form-group">
                    <label for="last-name-signup">Last Name:</label>
                    <input class="form-input" type="text" id="last-name-signup" autocomplete="last-name-signup" required/>
                </div>
                <div class="form-group">
                    <label for="email-signup">Email:</label>
                    <input class="form-input" type="text" id="email-signup" autocomplete="email-signup" required/>
                </div>
                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input class="form-input" type="password" id="password-signup" autocomplete="password-signup" required/>
                </div>
                <div class="form-group">
                    <label for="repeat-password-signup">Reapet Password:</label>
                    <input class="form-input" type="password" id="repeat-password-signup" autocomplete="repeat-password-signup" required/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>